* {
    font-size: 14px;
    line-height: 22px;
}
/*Приліпання футера і хедера*/
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.center {
    flex: 1;
}
/*Приліпання футера і хедера*/
img {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
ul {
    list-style-type: none;
    padding-top: 15px;
    padding-left: 35px;
}
header ul{
    text-align: right;
    padding-right: 15px;
}
li a {
    color: white;
}
.header {
    margin-top: 15px;
}
.logo {
    height: 100px;
}
.image-in-footer {
    height: 100px;
    margin-top: 15px;
}
.block {
    background: grey;
    min-height: 100px;
}
.left-side {
    flex-direction: column;
    justify-content: space-between;
}

/*.list-foot{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}*/

.image-block {
    max-width: 20%;
    padding: 0 15px 15px 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.header, .center-top, .center{
    margin-bottom: 15px;
}
.border-line {
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}
.footer .list-foot {
    display: flex;
}



